table{
}

td{
    border:solid black;
    background-color: rgb(63, 241, 101);
}

#elsöoszlop{
    background-color:rgba(250, 128, 114, 0.712);
    border-radius: 5%;
}

#utolsooszlop{
    background-color:rgba(44, 44, 241, 0.493);
    border-radius: 5%;
}

#kepesoszlop{
    background-color: rgb(106, 210, 245);
}